[mysqld]
character-set-server=utf8mb4
default-authentication-plugin=mysql_native_password
default-storage-engine=InnoDB
innodb_file_per_table
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,ONLY_FULL_GROUP_BY

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4